
* {
    margin: 0;
    padding: 0;
    font: normal 12px 'Inter';
}

        ul, ol {list-style: none;}
        a {text-decoration: none; color: #111;}
        input, textarea {outline: none;}


        /************************ Header ************************/
        header{
            position: relative;
            width: 980px;
            height: 60px;
            left: 470px;
            top: 0px;
            background: url(/farm/img/admin/admin_bg.jpg);
        }

        header > a {
            position: absolute;
            width: 170px;
            height: 32px;
            left: 12px;
            top: 12px;
            background: url(/farm/img/admin/admin_logo.jpg);
        }

        header > span {
            width: 149px;
            height: 14px;
            position: absolute;
            top: 13px;
            left: 819px;
            font-size: 11px; /*원래는 12로 변경해야 함*/
            color: white;
            line-height: 14px;
        }
